.wrap__contact{
  background-color: #f5f5f5;
  border: #b9b8b8 solid 1px;
  margin: 20px 0;
  padding: 30px;
}

.contact__heading{
  font-weight: 650;
}

.contact__address{
  font-weight: bold;
  margin-bottom: 10px;
}

.contact__address-specific{
 padding: 10px 0;
 font-size: 1.2rem;
}

